<template>
  <v-app>
    <div>
      <v-app-bar
              color="primary"
              dark
      >
        <v-toolbar-title>Characters recognizer</v-toolbar-title>

        <template v-slot:extension>
          <v-tabs align-with-title>
            <v-tab :to="{ name: 'learner' }">Learn</v-tab>
            <v-tab :to="{ name: 'recognizer' }">Recognize</v-tab>
            <v-tab :to="{ name: 'char-rec-manager' }">Manage character recognizing</v-tab>
          </v-tabs>
        </template>
      </v-app-bar>
    </div>

    <v-container>
        <router-view />
    </v-container>
  </v-app>
</template>

<script>
  export default {
    name: 'App'
  };
</script>

<style>
  .nma-2 {
    margin: -8px;
  }
</style>